
body {
	font-size: 18px;
	line-height: 1.4;
	margin: auto;
	margin-top: auto;
	width: 70vw;
	margin-top: 20vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

p {
	font-family: 'Roboto', sans-serif;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.box {
	flex: 1;
	padding-right: 75px;
	text-align: justify;
}

.ribbon {
	background-color: grey;
	height: 20px;
	transform: skewY(-10deg);
	transform-origin: 100%;
	left: 0;
	position: absolute;
	right: 0;
	z-index: -1;
	box-shadow: 10px 10px 5px whitesmoke;
	top: 40vh;
}

